<div class=homepage-h1>
  <h1>Welcome to Budget App</h1>
</div>

<div class=flex-column>
  <%= link_to 'LOG IN', new_user_session_path, class: 'login-sign-up' %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'login-sign-up' %>
</div>