<div class=app-name>
  <h1>Budget App</h1>
</div>

<div class=flex-column>
  <%= link_to 'LOG IN', new_user_session_path, class: 'login' %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'signup' %>
</div>
