/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima_Nova';
  src: url('Proxima Nova Font.otf');
}

@font-face {
  font-family: 'Lobster';
  src: url('Lobster Regular 400.ttf');
}

body {
  font-family: 'Proxima_Nova', sans-serif;
  background-color: #efefef;
  color: #434b54;
  margin-bottom: 20px;
}

button,
input[type="submit"] {
  background: none;
  color: #fff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  all: unset;
  background-color: #fff;
  text-align: left;
  border: 0.2px solid #c0bcbc;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

a {
  text-decoration: none;
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}
