.login-page {
  text-align: center;
}

.flex-row-sb {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  align-items: center;
  height: 50px;
  padding: 0 5px;
}

.text {
  font-size: 20px;
  color: #fff;
}

.input-field {
  float: right;
  width: 100%;
  height: 30px;
}

.forgot-pw-a {
  margin-top: 24px;
  color: green;
}

.forgot-pw > a:link,
.forgot-pw > a:visited,
.forgot-pw > a:hover,
.forgot-pw > a:active {
  display: flex;
  font-size: 24px;
  width: 100%;
  justify-content: center;
  padding-top: 40px;
}
