.whitebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #fff;
    padding: 5px;
    border-bottom: #3778c2;
}

.div-center {
    text-align: center;
    width: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}